<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Nalu</title>
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width= device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0
    maximum-scale=1.0"
    />
    <link rel="stylesheet" href="css/login.css" />
  </head>

  <body>
    <div class="login-container">
      <h1>Login</h1>
      <!-- Nombre de usuario -->
      <label for="Mail de usuario">Email</label>
      <input type="text" placeholder="Enter email" id="email" />
      <!-- Contraseña -->
      <label for="Contraseña">Password</label>
      <input type="password" placeholder="Enter password" id="password" />
      <!-- <input type="submit" value="Sing In"> -->
      <button id="sign-in-button" class="sign-in-button">Sign In</button>
      <div><a href="#">Forgot password</a></div>
      <div><a href="/signup">Sign up</a></div>
    </div>
    <script src="js/app.js"></script>
  </body>
</html>
